{% extends 'base.html' %}

{% block title %}Upload File{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-danger alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Error! </strong>
    {{message}}
</div>
{% endfor %}
{% endif %}

<div class="panel panel-primary">
    <div class="panel-heading">Upload</div>
    <div class="panel-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>Name</label><input class="form-control" type="text" name="name" required>
                <label>Description</label><input class="form-control" type="text" name="description" required>
                <label>Upload via</label>
                <div class="radio">
                    <label>
                        <input id="selectfile" type="radio" name="via" value="selectfile" onclick="document.getElementById('viafile').disabled = false; document.getElementById('viaurl').disabled = true;"checked> File
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input id="selecturl" type="radio" name="via" value="selecturl" onclick="document.getElementById('viafile').disabled = true; document.getElementById('viaurl').disabled = false;"> URL
                    </label>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Browse</label><input id="viafile" class="form-control-file" type="file" name="filedir" accept=".csv">
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label>URL</label><input id="viaurl" class="form-control" type="text" name="url" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <button type="reset" class="btn btn-info btn-block"><span class="glyphicon glyphicon-repeat"></span> Clear Form</button>
            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-upload"></span> Upload</button>

        </form>
    </div>
</div>

{% endblock %}


