{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Django Boards{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block stylesheet %}{% endblock %}  <!-- HERE -->
    <style>{% block style %}{% endblock style %}</style>
  </head>
<meta name="viewport" content="width=device-width, initial-scale=1">

  <body>
    {% block body %}  <!-- HERE -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'homepage' %}"><i class="icon-search"></i>Home</a>
            <a class="navbar-brand" href="{% url 'newcsv' %}">Upload New Data</a>
            <a class="navbar-brand" href="{% url 'datalist' %}">List of Data</a>
            <a class="navbar-brand" href="{% url 'signup' %}">Sign Up</a>
        </div>
      </nav>
      <div class="container">

        <ol class="breadcrumb my-4">
          {% block breadcrumb %}
                  <h1>{% block header %}{% endblock %}</h1>
          {% endblock %}
        </ol>
        {% block content %}
        {% endblock content %}
      </div>
    {% endblock body %}  <!-- AND HERE -->
  </body>
</html>


