{% load static %}<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Django Boards{% endblock %}</title>
    <!--<link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="{% static 'css/app.css' %}">-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block stylesheet %}{% endblock %}  <!-- HERE -->
    <style>{% block style %}{% endblock style %}</style>
    <style>
    .footer {
    position: fixed; uygyugu
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;}

    th {
    text-align: center;}

  body {
    padding-top: 100px;
  }
    </style>
</head>

<body>

{% block body %}  <!-- HERE -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'homepage' %}">PreProcess <span class="glyphicon glyphicon-wrench text-success"></a>
        </div>
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
            <li><a href="{% url 'newcsv' %}"><span class="glyphicon glyphicon-upload"></span> Upload New Data</a></li>
            <li><a href="{% url 'datalist' %}"><span class="glyphicon glyphicon-th-list"></span> List of Data</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.get_username }} <span class="glyphicon glyphicon-triangle-bottom"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#"><span class="glyphicon glyphicon-user"></span> Manage Account</a></li>
                    <li class="divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </li>

            {% else %}

            <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">

    {% block content %}
    {% endblock content %}
</div>
{% endblock body %}  <!-- AND HERE -->

<div class="footer">
    <p>Copyright &copy; 2018, Muhammad Faiz. All Right Reserved.</p>
</div>
</body>
</html>


