{% extends 'base.html' %}

{% block title %}List of Data{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">List of Data</li>
{% endblock %}

{% block content %}
<div class="mb-4">
    <a href="{% url 'newcsv' %}" class="btn btn-primary">Upload New File</a>
  </div>
<table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Time Uploaded</th>
      </tr>
    </thead>
    <tbody>
{% for file in files %}
    <tr>
        <td><a href ="{% url 'viewcsv' pk=file.id %}">{{ file.name }}</a></td>
        <td>{{ file.description }}</td>
        <td>{{ file.created_at }}</td>
        <td><a href ="{% url 'deletedata' pk=file.id %}" class="btn btn-primary">Delete</a></td>
        <td><a href ="{% url 'downloaddata' pk=file.id %}" class="btn btn-primary">Download</a></td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}