{% extends 'base.html' %}

</head>

{% block title %}Open File{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Opening</li>

{% endblock %}

{% block content %}
<h2>Data Info:</h2>

{% for x in data_info %}
    {{ x | safe }}
{% endfor %}

<div style="width:100%; height:400px; overflow:scroll;">
    <table>{{loaded_data | safe}}</table>

</div>

<br/>
<form action="" method="post">
    {% csrf_token %}

    <input type="submit" name = "dropna" value="Drop Row with No Data"/><br/>
    Column: <input type="text" name="index">
    <input type="submit" name = "strip" value="Remove Whitespace"/><br/>
    Old Column Name: <input type="text" name="oldcol">
    New Column Name: <input type="text" name="newcol">
    <input type="submit" name = "renamecol" value="Rename Column"/>


</form>

{% endblock %}
