{% extends 'base.html' %}

{% block title %}Open File{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Opening</li>

{% endblock %}

{% block content %}
<h2>Data Info:</h2>

{% for x in data_info %}
    {{ x | safe }}
{% endfor %}

{{loaded_data | safe}}
<br/>
<form action="" method="post">
    {% csrf_token %}

    <input type="submit" name = "dropna" value="Drop Row with No Data"/><br/>
    Column Name: <input type="text" name="index">
    <input type="submit" name = "strip" value="Remove Whitespace"/>

</form>

{% endblock %}
