{% extends 'base.html' %}
<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>


{% block title %}Open File{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Preprocess</li>

{% endblock %}

{% block content %}
<h2>Data Info:</h2>

{% for x in data_info %}
    {{ x | safe }}
{% endfor %}

<div style="width:100%; height:400px; overflow:scroll;">
    <table>{{loaded_data | safe}}</table>
</div>

<br/>
<form action="" method="post">
    {% csrf_token %}

    <input type="submit" name = "dropna" value="Drop Row with No Data"/><br/>
    Column:
    <select name="stripcol">
        {% for x in colname %}
            <option>{{ x | safe }}</option>
        {% endfor %}
    </select>

    <input type="submit" name = "strip" value="Remove Whitespace"/><br/>

    Old Column Name:
    <select name="oldcol">
        {% for x in colname %}
            <option>{{ x | safe }}</option>
        {% endfor %}
    </select>
    New Column Name: <input type="text" name="newcol">
    <input type="submit" name = "renamecol" value="Rename Column"/><br/>

    Change Column Type:
    <select name="changetypecol">
        {% for x in colname %}
            <option>{{ x | safe }}</option>
        {% endfor %}
    </select>

    Select New Column Type:
    <select name="changetypeto">
      <option value="category">Category</option>
      <option value="float32">Float-32</option>
      <option value="int32">Integer-32</option>

    </select>

    <input type="submit" name = "changetype" value="Change Column Type"/><br/>
</form>

{% endblock %}
