{% extends 'base.html' %}

{% block title %}Open File{% endblock %}

{% block stylesheet %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Preprocess</li>

{% endblock %}

{% block content %}
<h2>Data Info:</h2>

{% for x in data_info %}
    {{ x | safe }}
{% endfor %}

<div style="width:100%; height:400px; overflow:scroll;">
    <table>{{loaded_data | safe}}</table>
</div>

<br/>

<div id="btn1" class="button">Restructure Table</div>
<div id="btn2" class="button">Convert Data Type</div>
<div id="btn3" class="button">Missing Data</div>
<div id="btn4" class="button">Edit Character</div>

<div class="btn1">
    <form action="" method="post">
    {% csrf_token %}
    Old Column Name:
    <select name="oldcol">
        {% for x in colname %}
            <option>{{ x | safe }}</option>
        {% endfor %}
    </select>
    New Column Name: <input type="text" name="newcol">
    <input type="submit" name = "renamecol" value="Rename Column"/><br/>
    </form>
</div>

<div class="btn2">
    <form action="" method="post">
    {% csrf_token %}
    {% for x,y in colnametype %}
    <strong>{{ x | safe }}</strong> {{ y | safe }}
    {% endfor %}
    <br/>
    Change Column Type:
    <select name="changetypecol">
        {% for x in colname %}
            <option>{{ x | safe }}</option>
        {% endfor %}
    </select>

    Select New Column Type:
    <select name="changetypeto">
      <option value="object">Object</option>
      <option value="float64">Float-64</option>
      <option value="int64">Integer-64</option>
      <option value="datetime64">Datetime-64</option>
    </select>

    <input type="submit" name = "changetype" value="Change Column Type"/><br/>    </form>
</div>

<div class="btn3">
     <form action="" method="post">
    {% csrf_token %}
        <input type="submit" name = "dropna" value="Drop Row with No Data"/><br/>
    </form>
</div>

<div class="btn4">
     <form action="" method="post">
    {% csrf_token %}
    Column:
    <select name="stripcol">
        {% for x in colname %}
            <option>{{ x | safe }}</option>
        {% endfor %}
    </select>
        <input type="submit" name = "strip" value="Remove Whitespace"/><br/>
    </form>
</div>

<script>
	   $(".button").click(function (e) {
	       e.preventDefault();

           $('[class^=btn]').not($('.'+this.id)).hide();

           $('.'+this.id).slideToggle(500);
	   });
</script>

{% endblock %}