{% extends 'base.html' %}

{% block title %}Open File{% endblock %}

{% block stylesheet %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Preprocess</li>

{% endblock %}

{% block content %}

<div style="width:100%; height:400px; overflow:scroll;">
    <table>{{loaded_data | safe}}</table>
</div>

<br/>

<div id="btn1" class="button">Restructure Table</div>
<div id="btn2" class="button">Convert Data Type</div>
<div id="btn3" class="button">Incomplete Row</div>
<div id="btn4" class="button">Edit Character</div>

<div class="btn1">
    <form action="" method="post">
    {% csrf_token %}
    Old Column Name:
    <select name="oldcol">
        {% for x in colname %}
            <option>{{ x | safe }}</option>
        {% endfor %}
    </select>
    New Column Name: <input type="text" name="newcol">
    <input type="submit" name = "renamecol" value="Rename Column"/><br/>
    </form>
</div>

<div class="btn2">

    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <table>
    <thead class="thead-inverse">
      <tr>
        <th>Column</th>
        <th>Data Type</th>
      </tr>
    </thead>
    <form action="" method="post">
    {% csrf_token %}
    {% for x,y in colnametype %}
        <tr>
        <td style="text-align: center;"><strong>{{ x | safe }}</strong></td>
        <td style="text-align: center;">{{ y | safe }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
    </div>
    <br/>
    Change Column Type:
    <select name="changetypecol">
        {% for x in colname %}
            <option>{{ x | safe }}</option>
        {% endfor %}
    </select>

    Select New Column Type:
    <select name="changetypeto">
      <option value="object">Object</option>
      <option value="float64">Float-64</option>
      <option value="int64">Integer-64</option>
      <option value="datetime64">Datetime-64</option>
    </select>

    <input type="submit" name = "changetype" value="Change Column Type"/><br/>
    </form>
</div>

<div class="btn3">
     <form action="" method="post">
    {% csrf_token %}
        <input type="submit" name = "dropna" value="Drop Empty Row"/>
         <br/>
        Minimum non-null column:  <input type="number" name="thresh" min="1" step="1" value="1">
        <input type="submit" name = "dropnathresh" value="Drop Row with Missing Attribute"/>
         <br/>
         Column:
    <select name="colx">
        {% for x in colname %}
            <option>{{ x | safe }}</option>
        {% endfor %}
    </select>
        <input type="submit" name = "dropnacol" value="Drop Row without this Column"/><br/>
    </form>
</div>

<div class="btn4">
     <form action="" method="post">
    {% csrf_token %}
    Column:
    <select name="stripcol">
        {% for x in colname %}
            <option>{{ x | safe }}</option>
        {% endfor %}
    </select>
        <input type="submit" name = "strip" value="Remove Whitespace"/><br/>
    </form>
</div>

<script>
	   $(".button").click(function (e) {
	       e.preventDefault();

           $('[class^=btn]').not($('.'+this.id)).hide();

           $('.'+this.id).slideToggle(500);
	   });
</script>

{% endblock %}