{% extends 'base.html' %}

{% block title %}List of Data{% endblock %}

{% block header %}List of Data{% endblock %}

{% block content %}
<table class="table table-hover" id="datalist">
    <thead>
    <tr style="cursor: pointer;">
        <th>Name <span class="glyphicon glyphicon-sort text-success"></span></th>
        <th>Description <span class="glyphicon glyphicon-sort text-success"></span></th>
        <th>Time Uploaded <span class="glyphicon glyphicon-sort text-success"></span></th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
    <tr style="text-align: center;">
        <td>{{ file.name }}</td>
        <td>{{ file.description }}</td>
        <td>{{ file.created_at }}</td>
        <td>
            <div class="btn-group">
                <a href ="{% url 'opencsv' pk=file.id %}" class="btn btn-primary"><span class="glyphicon glyphicon-wrench"></span> Clean</a>
                <a href ="{% url 'downloaddata' pk=file.id %}" class="btn btn-success"><span class="glyphicon glyphicon-download"></span> Download</a>
                <a href ="{% url 'deletedata' pk=file.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

<script>
$(document).ready(function() {
    $('#datalist').DataTable();
} );
</script>
{% endblock %}