{% extends 'base.html' %}

{% block title %}List of Data{% endblock %}

{% block header %}List of Data{% endblock %}

{% block style %}

{% endblock style %}

{% block content %}
<div>
    <a href="{% url 'newcsv' %}" class="btn btn-primary"><span class="glyphicon glyphicon-upload"></span> Upload New Data</a>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Time Uploaded</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
    <tr>
        <td style="text-align: center;">{{ file.name }}</td>
        <td style="text-align: center;">{{ file.description }}</td>
        <td style="text-align: center;">{{ file.created_at }}</td>
        <td style="text-align: center;">
            <div class="btn-group">
                <a href ="{% url 'opencsv' pk=file.id %}" class="btn btn-primary"><span class="glyphicon glyphicon-wrench"></span> Clean</a>
                <a href ="{% url 'downloaddata' pk=file.id %}" class="btn btn-success"><span class="glyphicon glyphicon-download"></span> Download</a>
                <a href ="{% url 'deletedata' pk=file.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}