{% extends 'base.html' %}

{% block title %}List of Data{% endblock %}

{% block header %}List of Data{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-6">
    <a href="{% url 'newcsv' %}" class="btn btn-warning"><span class="glyphicon glyphicon-upload"></span> Upload New Data</a>
</div>
</div>
<table class="table table-hover" id="example">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Time Uploaded</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
    <tr>
        <td style="text-align: center;">{{ file.name }}</td>
        <td style="text-align: center;">{{ file.description }}</td>
        <td style="text-align: center;">{{ file.created_at }}</td>
        <td style="text-align: center;">
            <div class="btn-group">
                <a href ="{% url 'opencsv' pk=file.id %}" class="btn btn-primary"><span class="glyphicon glyphicon-wrench"></span> Clean</a>
                <a href ="{% url 'downloaddata' pk=file.id %}" class="btn btn-success"><span class="glyphicon glyphicon-download"></span> Download</a>
                <a href ="{% url 'deletedata' pk=file.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
{% endblock %}